h1 {
    margin-top: 40px;
    margin-bottom: 52px;
}

.filter-bar {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 45px;
    border-radius: 10px;
    border: 1px solid #DEE2E6;
    width: 40%;
}

.filter-element {
    display: flex;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
}

.department-text {
    color: #8338EC;
}

.task-list-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 52px;
}

.status-block {
    display: flex;
    flex-direction: column;
}

.status-item {
    width: 381px;
    padding: 15px 0;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.status-item.status-1 {
    background-color: #F7BC30;
}

.status-item.status-2 {
    background-color: #FB5607;
}

.status-item.status-3 {
    background-color: #FF006E;
}

.status-item.status-4 {
    background-color: #3A86FF;
}

.task-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    height: 230px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
}

.priority-container {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
}

.priority-container.priority-1 {
    color: #08A508;
}

.priority-container.priority-2 {
    color: #FFBE0B;
}

.priority-container.priority-3 {
    color: #FA4D4D;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.task-content-header .date {
    white-space: nowrap;
    color: #212529;
}

.left-side .department {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 40%;
    padding: 5px 9px;
    border-radius: 15px;
} 

.left-side .department-1 {
    background-color: #A2D8A2;
}

.left-side .department-2 {
    background-color: #D2A3FF;
}

.left-side .department-3 {
    background-color: #66CCCC;
}

.left-side .department-4 {
    background-color: #FD9A6A;
}

.left-side .department-5 {
    background-color: #89B6FF;
}

.left-side .department-6 {
    background-color: #FFD86D;
}

.left-side .department-7 {
    background-color: #FF66A8;
}

.task-item.task-status-1 {
    border: 1px solid #F7BC30;
}

.task-item.task-status-2 {
    border: 1px solid #FB5607;
}

.task-item.task-status-3 {
    border: 1px solid #FF006E;
}

.task-item.task-status-4 {
    border: 1px solid #3A86FF;
}

.task-content {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 14px;
    gap: 12px;
}

.task-content .task-name {
    font-weight: bold;
    font-size: 15px;
}

.task-content .task-description {
    font-size: 14px;
}

.employee-avatar {
    width: 31px;
    height: auto;
}

.task-content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments-container {
    display: flex;
    align-items: center;
    gap: 4px;
}