.task-description-container {
    width: 715px;
}

.task-description-container p {
    font-size: 18px;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.icon-container p {
    color: #474747;
}

.task-heading {
    color: #2A2A2A;
    margin-top: 73px;
    margin-bottom: 28px;
}

.details-container {
    width: 500px;
}

.details-container div {
    padding: 10px 0;
}

.top-icons {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 12px;
}

.priority-container {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 5px;
    border-radius: 5px;
}

.priority-container.priority-1 {
    color: #08A508;
    border: 1px solid #08A508;
}

.priority-container.priority-2 {
    color: #FFBE0B;
    border: 1px solid #FFBE0B;
}

.priority-container.priority-3 {
    color: #FA4D4D;
    border: 1px solid #FA4D4D;
}

.department {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 40%;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
} 

.department-1 {
    background-color: #A2D8A2;
}

.department-2 {
    background-color: #D2A3FF;
}

.department-3 {
    background-color: #66CCCC;
}

.department-4 {
    background-color: #FD9A6A;
}

.department-5 {
    background-color: #89B6FF;
}

.department-6 {
    background-color: #FFD86D;
}

.department-7 {
    background-color: #FF66A8;
}

.task-name {
    margin-bottom: 26px;
}

select[name="status-list"] {
    font-family: inherit;
    display: flex;
    align-items: center;
    padding: 14px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    background-color: #fff;
}

.employee-wrapper img {
    width: 32px;
    height: auto;
    border-radius: 32px;
}

.details-container {
    display: flex;
    align-items: center;
    gap: 70px;
}

.keys {
    display: flex;
    flex-direction: column;
}

.values {
    display: flex;
    flex-direction: column;
}

.employee-avatar-name {
    display: flex;
    align-items: center;
    gap: 12px;
}

#department-name {
    color: #474747;
}

.main-container {
    display: flex;
    gap: 223px;
}

.details {
    width: 715px;
}

.comments {
    width: 740px;
    height: 900px;
    padding: 40px 45px 52px;
    border-radius: 10px;
    border: 1px solid #DDD2FF;
    background: rgba(248, 243, 254, 0.65);
    position: relative;
    overflow-y: auto;
}

.comments textarea {
    font-family: inherit;
    padding: 18px 20px;
    padding-bottom: 50px;
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ADB5BD;
    border-bottom: 50px solid #fff;
}

.textarea-container {
    position: relative;
}

.submit-btn {
    font-family: inherit;
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: #8338EC;
    color: #fff;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #B588F4;
}

.submit-btn:active {
    background-color: #B588F4;
    box-shadow: 0 4px rgba(181, 136, 244, 0.3);
}

.comments-heading {
    font-size: 20px;
}

.comment-num-wrapper {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.comment-num-wrapper p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #8338EC;
    color: #fff;
    height: 22px;
}

.comment-element {
    margin-bottom: 38px;
}

.comment-element img {
    width: 40px;
    height: auto;
    border-radius: 40px;
}

.comment-top-section {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.comment-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reply-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.reply-icon-wrapper {
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.reply-text {
    font-size: 12px;
    color: #8338EC;
}

.reply-wrapper img {
    width: 16px;
}

.sub-comment {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 5px;
}

.subcomment-text-wrapper {
    display: flex;
    flex-direction: column;
}

.comment-reply-area {
    width: 100%;
}

.submit-reply-btn {
    font-family: inherit;
    position: absolute;
    background-color: #8338EC;
    color: #fff;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.submit-reply-btn:hover {
    background-color: #B588F4;
}

.submit-reply-btn:active {
    background-color: #B588F4;
    box-shadow: 0 4px rgba(181, 136, 244, 0.3);
}